.rc-table-scroll {
	overflow: auto;
	height: 100%;
	position: relative;
	border: 1px solid rgba(0, 0, 0, .1);
	font-size: 14px;
}

.rc-table-scroll * {
	padding: 0;
	margin: 0;
}

.rc-table-scroll input[type="checkbox"] {
	vertical-align: middle;
	cursor: pointer;
}

.rc-table-scroll-thead-tr {
	position: sticky;
	top: 0;
	font-size: 0;
	white-space: nowrap;
	z-index: 10;
}

.rc-table-scroll-thead-th {
	height: 26px;
	/*overflow: hidden;*/
	text-overflow: ellipsis;
	position: relative;
	line-height: normal;
	border-right: 1px solid rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
	background: #fff;
	display: inline-block;
	user-select: none;
	cursor: pointer;
	box-sizing: border-box;
	vertical-align: top;
}

.rc-table-scroll-thead-th.asc::before,
.rc-table-scroll-thead-th.desc::after {
	content: '';
	position: absolute;
	height: 2px;
	background-color: #32b1e1;
	width: 100%;
	left: 0;
}

.rc-table-scroll-thead-th.asc::before {
	top: 0;
}

.rc-table-scroll-thead-th.desc::after {
	bottom: 0;
}

.rc-table-scroll-thead-th > p {
	padding: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 100%;
	color: #000;
	font-size: 14px;
	box-sizing: border-box;
	text-align: center;
}

.rc-table-scroll-thead-th:not(:last-child) {
	border-right: 1px solid #dfdfdf;
}

.rc-table-scroll-resizing-handler {
	display: inline-block;
	position: absolute;
	width: 24px;
	top: 0;
	bottom: 0;
	right: -12px;
	cursor: col-resize;
	z-index: 10;
}

.rc-table-scroll-tbody {
	position: relative;
}

.rc-table-scroll-tbody-tr {
	white-space: nowrap;
	position: absolute;
	background-color: #fff;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	/*height: 34px;*/
}

.rc-table-scroll-tbody-tr:nth-child(odd) {
	background-color: #f9f9f9;
}

.rc-table-scroll-tbody-tr:last-child {
	border-bottom: none;
}

.rc-table-scroll-tbody-tr:hover {
	background-color: #dfdfdf;
}

/* for click highlight*/
.rc-table-scroll-tbody-tr:focus {
	outline: none;
	background-color: #dfdfdf;
}

.rc-table-scroll-tbody-tr > div {
	box-sizing: border-box;
	height: 100%;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0 5px;
	border-right: 1px solid rgba(0, 0, 0, 0.02);
	text-align: center;
}

.rc-table-scroll-tbody-th-select {

}

.rc-table-scroll-bottom {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 50px;
	align-items: center;
}